.admin-layout__wrapper {
    
}

.admin-layout__container {
    
}

.admin-layout__header {
    width: calc(100% - 72px);
    height: 56px;
    position: fixed;
    right: 0;
}

.admin-layout__sidebar {
    width: 72px;
    position: fixed;
    height: 100vh;
}

.admin-layout__sidenav {
    left: 72px;
    width: 240px;
    position: fixed;
    height: 100vh;
    opacity: 0.98;
}

.admin-layout__content {
    position: absolute;
    height: calc(100% - 56px);
    width: calc(100% - 72px);
    padding-top: 56px;
    padding-left: 72px;
    z-index: -1;
}